<f:layout name="Default" />
<f:section name="content">
    
    <div id="slider">
        <h1>Responsive Slider</h1>

        <f:if condition="{settings.checkStoragePid}">
            <f:then>
                <f:render partial="Tabmenu" arguments="{menu:menu}" />
                <div class="spacer"> &nbsp;</div>
                <f:render partial="Index" arguments="{slider:slider, menu: menu}" />
            </f:then>
            <f:else>
                <strong>Bitte Storage PID der Sliderdaten im Template angeben!</strong>
            </f:else>
        </f:if>

        <f:flashMessages />
    </div>
    
</f:section>