<f:layout name="Blogview" />

<f:section name="main">

    <f:if condition="{view} == 'blogview'">
      
        <f:if condition="{blog.blogstyle} == 1">
            <f:render partial="Blogview/Blogstyle" arguments="{_all}"/>
        </f:if>
        <f:if condition="{blog.blogstyle} == 0">
            Show last entry full
        </f:if>
   
    </f:if>
    
    <f:if condition="{view} == 'singleview'">
        <f:render partial="Blogview/SingleView" arguments="{_all}"/>
    </f:if>
    
    <f:if condition="{view} == 'categoryview'">
        <f:render partial="Blogview/CategoryView" arguments="{_all}"/>
    </f:if>


</f:section>