<!-- Widget Template für Neueste Artikel
*    Ext: Multiblog
-->


<div class="multiblog_widget">

    <div class="multiblog_widgetheader">
         <f:translate key="LLL:{settings.langFile}:widget.NewArticle.Header" />
    </div>

    <div class="multiblog_widgetcontent ">
        <f:for each="{teaserentrys}" as="teaserentry">
            
            <div class="multiblog_widgetLastArticle_subhead">
            <f:format.date format="d.m.Y">{teaserentry.entrydate}</f:format.date> |
                        <f:translate key="LLL:{settings.langFile}:widget.NewArticle.Category" />
                        <f:if condition="{teaserentry.entrykategorie1.uid} > 1">
                            {teaserentry.entrykategorie1.kategorie}
                        </f:if>
            </div>
            <div class="multiblog_widgetLastArticle_head">
                {teaserentry.entrytitel}
            </div>	

            <div class="multiblog_widgetLastArticle_text">
                <f:format.crop maxCharacters="70" append="&nbsp;...">{teaserentry.entryanleser}</f:format.crop>
                <f:link.action action="showSingleEntry" controller="Entry" arguments="{blogid: teaserentry.blogid, uid: teaserentry.uid}"><em> [mehr]</em></f:link.action>

            </div>	

        </f:for>
    </div>
</div>