<!-- Widget Template für Kategorien
*    Ext: Multiblog



<div class="multiblog_widget">

    <div class="multiblog_widgetheader">
        <f:translate key="LLL:{settings.langFile}:widget.Categorie.Header" />
    </div>

    <div class="multiblog_widgetcontent">
        <f:for each="{topkategorie}" as="topkat">

            <f:link.action action="kategorieView" controller="Entry" arguments="{blogid: blog.uid, kat: topkat.uid}">

                <div class="teaserKatTopkat">
                    {topkat.kategorie}
                </div>
            </f:link.action>

            <f:for each="{subkategorie}" as="subkat">

                <f:if condition="{subkat.topkategorie} == {topkat.uid}">
                    <f:link.action action="kategorieView" controller="Entry" arguments="{blogid: blog.uid, kat: subkat.uid}">
                        <div class="teaserKatSubkat">
                            » {subkat.kategorie}
                        </div>

                    </f:link.action>

                </f:if>
            </f:for>

        </f:for>
    </div>
</div>
-->

<div class="multiblog_widget">
    <div class="multiblog_widgetheader">
        <f:translate key="LLL:{settings.langFile}:widget.Categorie.Header" />
    </div>
    <ul>
         <f:for each="{sidebar.categories}" as="category">
        <li>
            {category.kategory}
        </li>
         </f:for>
    </ul>
</div>