<!-- Widget Template für Kategorien
*    Ext: Multiblog
-->

<div class="multiblog_widget">
    <div class="multiblog_widgetheader widget_icon_category">
        <f:translate key="LLL:{settings.langFile}:widget.Categorie.Header" />
    </div>
    <div class="multiblog_widgetcontent">
        <ul>
            <f:for each="{sidebar.categories}" as="category">
                <li>
                <f:link.action action="index" controller="Blog" arguments="{categoryId: category.uid}">
                    {category.kategory}
                </f:link.action>
                </li>
            </f:for>
        </ul>
    </div>
</div>