
<f:form method="post" controller="Blogedit" action="commentSave" name="comment" object="{comment}" >

    <div class="multiblog-edit-stage clearafter">

        <div class="multiblog-edit-stage-main">

            <h1><f:translate key="LLL:{settings.langFile}:blogedit.comments.headeredit" /></h1>

            <p>{comment.commentname} ({comment.commentmail}) <f:translate key="LLL:{settings.langFile}:blogedit.comments.writeon" /> <f:format.date format="d.m.Y">{comment.commentdate}</f:format.date> <f:translate key="LLL:{settings.langFile}:blogedit.comments.toentry" /> <br />
            <b>{comment.entryid.entrytitel}</b>
            </p>

            
            <f:form.textarea property="commenttext" value="{comment.commenttext}"class="multiblog-formfield multiblog-edit-form-textarea"  rows="10" cols="90"/>

        </div>

        <div class="multiblog-edit-stage-right">

            <div class="multiblog-edit-sidebarframe first">
                <f:translate key="LLL:{settings.langFile}:blogedit.comments.status" />
                <f:form.radio property="commentapprove" value="1" /> <f:translate key="LLL:{settings.langFile}:blogedit.comments.status.online" /> &nbsp;&nbsp;
                <f:form.radio property="commentapprove" value="0" /> <f:translate key="LLL:{settings.langFile}:blogedit.comments.status.hidden" />
            </div>
            <f:form.submit class="submit btn_save" value="{f:translate(key:'blogedit.button.commentupdate')}"/>
            <f:form.submit class="submit btn_cancel" name="delete" value="{f:translate(key:'blogedit.button.commentdelete')}"/>

            <input type="button" class="button" value="{f:translate(key:'blogedit.button.cancel')}" name="back_button" onClick="javascript:history.back(1)" />




        </div>
    </div>
</f:form>


