<div class="multiblog-edit-stage clearafter">
<h1><f:translate key="LLL:{settings.langFile}:blogedit.comments.headerall" /></h1>
<f:widget.paginate objects="{comments}" as="comment"  configuration="{itemsPerPage: 10, insertAbove: 1, insertBelow: 0}">

    <table class="multiblog-edit-list">
        <tr class="multiblog-edit-list-header">
            <td>
                <f:translate key="LLL:{settings.langFile}:blogedit.comments.commenttitle" />  
            </td>
            <td>
                <f:translate key="LLL:{settings.langFile}:blogedit.comments.post" />
            </td>
            <td>
                <f:translate key="LLL:{settings.langFile}:blogedit.comments.status" />
            </td>
            <td>
                <f:translate key="LLL:{settings.langFile}:blogedit.comments.date" />
            </td>
        </tr>

        <f:for each="{comment}" as="comi">
            <f:cycle values="{0: 'even', 1: 'odd'}" as="cycle">
                     
            <tr class="{cycle}">
            <td class="multiblog-edit-textlink">
                <f:link.action action="commentEdit" arguments="{commentid: comi.uid}" class="multiblog-edit-textlink">
                       <f:format.crop maxCharacters="50" append="&nbsp;...">{comi.commenttext}</f:format.crop>                       
                </f:link.action>
            </td>
            <td class="multiblog-edit-list-smalltext" width="30%"><f:format.crop maxCharacters="50" append="&nbsp;...">{comi.postid.posttitel}</f:format.crop>
            
            
            </td>
            <td class="multiblog-edit-list-smalltext" width="10%">
            <f:if condition="{comi.commentapprove}">
                <f:then>
                    <f:translate key="LLL:{settings.langFile}:blogedit.comments.status.online" />
                </f:then>
                <f:else>
                    <f:translate key="LLL:{settings.langFile}:blogedit.comments.status.hidden" />
                </f:else>
            </f:if>
            </td>
            <td class="multiblog-edit-list-smalltext" width="12%">
            <f:format.date format="d.m.Y">{comi.commentdate}</f:format.date>
            </td>
            </tr>  

            </f:cycle>
        </f:for>

    </table>
</f:widget.paginate>
<p style="text-align: left; font-size: 80%; margin-top: 10px;">
    <f:translate key="LLL:{settings.langFile}:blogedit.articlelist.info" />
</p>
</div>



