

<div class="multiblog-edit-stage clearafter">
    <h1><f:translate key="LLL:{settings.langFile}:blogedit.articlecreate.header" /></h1>

    <f:form method="post" controller="Blogedit" action="postCreate" name="entry" object="{entry}" enctype="multipart/form-data"  >


        <f:form.hidden property="blogid" value="{blogid}"/>

        <p class="blogedit-status">
        <f:translate key="LLL:{settings.langFile}:blogedit.articleedit.date" />
        <f:form.textfield id="datepicker"  property="postdate" value="{f:format.date(date: '{entry.postdate}', format: 'd.m.Y')}" size="12" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <f:translate key="LLL:{settings.langFile}:blogedit.articleedit.status" />
        <f:form.radio property="poststatus" value="1" /> <f:translate key="LLL:{settings.langFile}:blogedit.articlestatus.online" /> &nbsp;&nbsp;
        <f:form.radio property="poststatus" value="0" /> <f:translate key="LLL:{settings.langFile}:blogedit.articlestatus.draft" />       
        </p>
        
        <div class="multiblog-edit-form-label">
            <f:translate key="LLL:{settings.langFile}:blogedit.articleedit.title" /> <br />
        </div>
        <f:form.textfield property="posttitel" value="{posttitel}" class="multiblog-edit-form-textfield"/><br />

        <div class="multiblog-edit-form-label">
            <f:translate key="LLL:{settings.langFile}:blogedit.articleedit.firsttext" /><br />
        </div>
        <f:form.textarea property="postintro" class="multiblog-edit-form-textarea"  value="{postintro}" rows="10" cols="90"/>
        <br />
        
        <f:form.select property="entry[cat]" options="{categories}" optionValueField="uid" optionLabelField="kategory" prependOptionLabel="-- Category --" />
                

        <input type="button" class="button" value="{f:translate(key:'blogedit.button.cancel')}" name="back_button" onClick="javascript:history.back(1)" />
        <f:form.submit class="submit button-right " value="{f:translate(key:'blogedit.button.createarticle')}"/>
        <p>&nbsp;</p>
    </f:form>
</div>