glob:temp_CACHED_*
glob:deprecation_*
glob:._*

syntax: glob
.DS_Store
Thumbs.db

fileadmin/_temp_/*
t3lib/*
typo3/*
typo3conf/localconf-local.php
typo3conf/ENABLE_INSTALL_TOOL
typo3temp/*
uploads/*
constants-local.ts

nbproject/*
.project
.settings/
.buildpath
INSTALL.txt
RELEASE_NOTES.txt
README.txt
NEWS.txt
LICENSE.txt
GPL.txt
ChangeLog
temp_CACHED_*
