
<div id="multiblog" class="clearafter">

    <div id="multiblogindex_maincolumn">

        <div class="multiblogindex_blogtitel">
            <f:if condition="{blog.blogbild}">
                <f:image src="uploads/multiblog/blogbilder/{blog.blogbild}" alt="profilbild" width="20px"/>
            </f:if>
            <f:link.action action="index" controller="Entry" arguments="{bloguid: blog.uid}">{blog.blogtitel}</f:link.action>
        </div>


        <!-- Blog header --------------------------------------->



        <div class="multiblogindex_entryheader">

            <span class="multiblogindex_entryheader_linkleft">
                <f:if condition="{next.entrytitel}">		
                    <f:link.action action="index" controller="Entry" arguments="{bloguid: next.blogid, uid: next.uid}">
                        &laquo; {next.entrytitel} 
                    </f:link.action>
                </f:if>
            </span>

            <span class="multiblogindex_entryheader_linkright">
               	<f:if condition="{prev.entrytitel}">	
                    <f:link.action action="index" controller="Entry" arguments="{bloguid: prev.blogid,uid: prev.uid}">
                        {prev.entrytitel} &raquo;
                    </f:link.action>
                </f:if>
            </span>

            <br class="clear-all">

        </div>



        <div class="multiblogindex_flashrender">
            <f:FlashMessages class="multiblogindex_flashrender"/>
        </div>
        
<!-- blogbild ---->
            <div class="multibloglist_image">
            </div>

            <!--Blogtitel--->
            <div class="multiblogindex_titel">
                <h2>{entry.entrytitel}</h2>
            </div>

            <!-- Blog Text --->
            <f:if condition="{entry.entrypicture}">
                <f:then>

                    <f:if condition="{entry.entrypictureposition} < 2">
                        <f:image src="uploads/multiblog/{entry.entrypicture}" height="100" alt="© www.Gentledom.de" /><br />
                        <div class="multiblogentry">
                            <p><f:format.html>{entry.entryanleser}</f:format.html></p>
                            <p><f:format.html>{entry.entrytext}</f:format.html></p>
                        </div>
                    </f:if>

                    <f:if condition="{entry.entrypictureposition} == 2">
                        <div style="float: right; padding: 0 5px 0 20px;">
                           
                                <f:image src="uploads/multiblog/{entry.entrypicture}" width="200" alt="© www.Gentledom.de" />
                            
                            <br />
                        </div>
                        <div class="multiblogentry">
                            <f:format.html>{entry.entryanleser}</f:format.html>
                            <f:format.raw>{entry.entrytext}</f:format.raw>
                        </div>
                        <div style="clear: both;"></div>
                    </f:if>
                    <f:if condition="{entry.entrypictureposition} == 3">
                        <div class="multiblogentry">
                            <f:format.html>{entry.entryanleser}</f:format.html>
                            <f:format.raw>{entry.entrytext}</f:format.raw>
                        </div><br />
                        <f:image src="uploads/multiblog/{entry.entrypicture}" height="100" alt="© www.Gentledom.de" />
                    </f:if>


                </f:then>
                <f:else>
                    <div class="multiblogentry">
                        <f:format.html>{entry.entryanleser}</f:format.html>
                        <f:format.raw>{entry.entrytext}</f:format.raw>
                    </div>

                </f:else>
            </f:if>	



            <!-- Blog Footer -->

            
            <div class="multiblogindex_entryfooter">  	      
                <p><f:translate key="LLL:{settings.langFile}:post.DateText" />&nbsp;<f:format.date format="d.m.Y">{entry.entrydate}</f:format.date> <br />
                <f:translate key="LLL:{settings.langFile}:post.CategoryText" /> 		<f:if condition="{entry.entrykategorie1.uid} > 1">
                    {entry.entrykategorie1.kategorie}
                </f:if>

                <f:if condition="{entry.entrykategorie2.uid} > 1">
                    &nbsp;|&nbsp; {entry.entrykategorie2.kategorie}
                </f:if>
                <f:if condition="{entry.entrykategorie3.uid} > 1">
                    &nbsp;|&nbsp; {entry.entrykategorie3.kategorie}
                </f:if>
                <f:if condition="{entry.entrykategorie4.uid} > 1">
                    &nbsp;|&nbsp; {entry.entrykategorie4.kategorie}
                </f:if>
                </p>	
                

            </div>


            <f:if condition="{entry.entrycommentoption}">
                <f:render partial="CommentEntry" arguments="{comments: comments, entry: entry, blogs: blogs, newComment: newComment}"/>
            </f:if>

    </div> <!-- end maincolun -->

    <div id="multiblogindex_rightcolumn">    
        <f:render partial="Rightcolumn" arguments="{_all}"/>
    </div> <!-- End rightcolumn -->

</div>
<div class="clear-all"></div>
