
<div id="multiblog" class="clearafter">

    <div id="multiblogindex_maincolumn">

        <div class="multiblogindex_blogtitel">
            <f:if condition="{blog.blogbild}">
                <f:image src="uploads/multiblog/blogbilder/{blog.blogbild}" alt="profilbild" width="20px"/>
            </f:if>
            <f:link.action action="index" controller="Entry" arguments="{bloguid: blog.uid}">{blog.blogtitel}</f:link.action>
        </div>


        <!-- Blog header --------------------------------------->



        <div class="multiblogindex_entryheader">

            <span class="multiblogindex_entryheader_linkleft">
                <f:if condition="{next.entrytitel}">		
                    <f:link.action action="index" controller="Entry" arguments="{bloguid: next.blogid, uid: next.uid}">
                        &laquo; {next.entrytitel} 
                    </f:link.action>
                </f:if>
            </span>

            <span class="multiblogindex_entryheader_linkright">
               	<f:if condition="{prev.entrytitel}">	
                    <f:link.action action="index" controller="Entry" arguments="{bloguid: prev.blogid,uid: prev.uid}">
                        {prev.entrytitel} &raquo;
                    </f:link.action>
                </f:if>
            </span>

            <br class="clear-all">

        </div>



        <div class="multiblogindex_flashrender">
            <f:FlashMessages class="multiblogindex_flashrender"/>
        </div>
        
        <!--Sticky Post -->
        <f:if condition="{stickyPost}">
            <f:render partial="EntryShortView" arguments="{entry:stickyPost, blog: blog}"/>
        </f:if>

        <!-- Start with normal Entrys -->
        <f:widget.paginate objects="{entrys}" as="pageentrys"  configuration="{itemsPerPage: 10, insertAbove: 0, insertBelow: 1}">

            <f:for each="{pageentrys}" as="entry">

                <f:render partial="EntryShortView" arguments="{entry:entry, blog: blog}"/>

            </f:for>
        </f:widget.paginate>

    </div> <!-- end maincolun -->

    <div id="multiblogindex_rightcolumn">    
        <f:render partial="Rightcolumn" arguments="{_all}"/>
    </div> <!-- End rightcolumn -->

</div>
<div class="clear-all"></div>
