<f:form method="post" controller="SliderBE" action="imageCreate" name="image" object="{image}" enctype="multipart/form-data"  >



    <div class="formRow">
        <label>
            Slider
        </label>
        <f:form.select property="sliderId" sortByOptionLabel="sliderHeadline" name="sliderId" options="{slider}" optionValueField="uid" optionLabelField="sliderHeadline" />
    </div>



    <div class="formRow">
        <label>
            Slider
        </label>
        <f:form.upload property="sliderImage" value="{image.sliderImage}" />
    </div>

    <br />


    <hr />
    <div class="formRow buttonrow">

        <f:link.action action="indexImage" class="button"> Abbrechen </f:link.action>
        <f:form.submit name="mySubmit" value="Speichern" class="buttonAbbrechen"/>

    </div>
</f:form>