
<h1>Sliderbilder:</h1> <br />
<table>
    <tr>
        <td><strong>Slider</strong></td>
        <td><strong>Image</strong></td>
        <td></td>
    </tr>
    <f:for each="{images}" as="img"> 
        <f:cycle values="{0: 'even', 1: 'odd'}" as="cycle">
            <tr class="{cycle}">
                <td>
                    {img.sliderID.sliderHeadline}
                </td>

                <td>
                    {img.sliderImage}
                </td>
                <td width="60px" align="center">

            <f:link.action action="imageDelete" controller="SliderBE" arguments="{image: img}"onclick="return confirm('Slider Bild löschen?');">
                <f:image src="EXT:responsive_template/Resources/Public/icons/backendicons/delete.gif" width="16" height="16" alt="Datensatz löschen" />
            </f:link.action>
            </td>
            </tr>
        </f:cycle>	
    </f:for>
</table>

<br /><br />
<f:link.action action="imageNew" class="button"> neues Bild hinzufügen </f:link.action>

