<f:if condition="{categoryfilter}">
    <div class="multiblog-postpreview clearafter">
        <f:translate key="LLL:{settings.langFile}:widget.Categorie.Header" />: {categoryfilter.kategory}
    </div>
</f:if>  

<f:if condition="{sticky}">
    <div class="multiblog-postpreview clearafter">

        <div class="multiblog-sticky-image">
            <f:if condition="{sticky.image.originalResource.originalFile.uid}">
                <f:image src="{sticky.image.originalResource.originalFile.uid}" alt="bb" width="190" class="s"/>
            </f:if>
            <f:image src="typo3conf/ext/multiblog/Resources/Public/Icons/icon_sticky.png" width="27" height="24" alt="sticky post" />
        </div>

        <div class="multiblog-postpreview-content">

            <div class="multiblog-postheader">
                <f:link.action action="index" arguments="{postId: sticky.uid}">
                    {sticky.posttitel}
                </f:link.action>
            </div>

            <f:if condition="{sticky.postcommentoption}">
                <div class="count-comment">{sticky.contComments}</div>
            </f:if>

            <div class="multiblog-postteaser">
                <f:format.html>{sticky.postintro}</f:format.html>
            </div>
            <f:link.action action="singleView" arguments="{post: sticky.uid}">
                read more 
            </f:link.action>

            labels:
            <f:for each="{sticky.category}" as="cat">
                {cat.kategory}

            </f:for>
        </div>
    </div>
</f:if>


<f:for each="{posts}" as="post">
    <div class="multiblog-postpreview clearafter">
        <div class="multiblog-postpreview-image">
            <f:if condition="{post.image.originalResource.originalFile.uid}">
                <f:image src="{post.image.originalResource.originalFile.uid}" alt="bb" />
            </f:if>
        </div>
        <div class="multiblog-postpreview-content">

            <div class="multiblog-postheader">
                <f:link.action action="index" arguments="{postId: post.uid}">
                    {post.posttitel}
                </f:link.action>
            </div>

            <f:if condition="{post.postcommentoption}">
                <div class="count-comment">{post.contComments}</div>
            </f:if>

            <div class="multiblog-postteaser">
                <f:format.html>{post.postintro}</f:format.html>
            </div>

            <div class="multiblog-postlabels">
                <f:image src="/typo3conf/ext/multiblog/Resources/Public/Icons/icon_side_label.png" alt="labels" />
                <f:for each="{post.category}" as="cat" iteration="catiter">
                    {cat.kategory}<f:if condition="{catiter.isLast}==0">, &nbsp;</f:if>
                </f:for>
                &nbsp;&nbsp;&nbsp;
                <f:image src="/typo3conf/ext/multiblog/Resources/Public/Icons/icon_side_time.png" alt="date" />
                <f:format.date format="d.m.Y">{post.postdate}</f:format.date> 
            </div>
            <f:link.action action="index" arguments="{postId: post.uid}" class="multiblog-readmore-link">
                 <f:translate key="LLL:{settings.langFile}:post.readmore" /> 
            </f:link.action>
        </div>
    </div>

</f:for>

<!-- pagination -->
<div class="multiblog-postpreview-image"></div>
<div class="multiblog-postpreview-content">
    <f:if condition="{pagination}">
        
        <f:if condition="{pagination.first}">
            <f:link.action action="index" arguments="{page: pagination.first}" class="paginator-page">
                |<
            </f:link.action>
        </f:if>
        <f:if condition="{pagination.prev}">
            <f:link.action action="index" arguments="{page: pagination.prev}" class="paginator-page">
                <
            </f:link.action>
        </f:if>
        <f:for each="{pagination.pages}" as="item">
            <f:link.action action="index" arguments="{page: item.text}"
                           class="paginator-page {f:if(condition: '{0:pagination.current} == {0:item.text}',
                                               then: ' active', else: '')}">
                               {item.text}
                           </f:link.action>
            </f:for>
            <f:if condition="{pagination.next}">
                <f:link.action action="index" arguments="{page:pagination.next}" class="paginator-page">
                >
            </f:link.action>
        </f:if>
        <f:if condition="{pagination.last}">
            <f:link.action action="index" arguments="{page: pagination.last}" class="paginator-page">
                >|
            </f:link.action>
        </f:if>
    </f:if>

    <br class="clear-all">
</div>
<!-- End pagination -->