
<f:for each="{posts}" as="post">
    <div class="multiblog-postpreview clearafter">
        <div class="multiblog-postpreview-image">
            <f:if condition="{post.image.originalResource.originalFile.uid}">
        <f:image src="{post.image.originalResource.originalFile.uid}" alt="bb" />
            </f:if>
        </div>
        <div class="multiblog-postpreview-content">
          
        <div class="multiblog-postheader">
            <f:link.action action="singleView" arguments="{post: post.uid}">
            {post.posttitel}
            </f:link.action>
        </div>
        <div class="multiblog-postteaser">
            {post.postintro}
        </div>
            <f:link.action action="singleView" arguments="{post: post.uid}">
               read more 
            </f:link.action>
            
        labels:
        <f:for each="{post.category}" as="cat">
             {cat.kategory}
            
        </f:for>
        </div>
    </div>
    
</f:for>