<!-- Sub Template für Comments 
*    Ext: Multiblog
----->


<div class="multiblogindex_kommentartitel">
    <f:translate key="LLL:{settings.langFile}:comments.Header" />
</div>


<div class="multiblogindex_kommentardaten">

    <f:if condition="{comments}">
        <f:then>

            <!-- Scheife zum auslesen der Kommentare --->
            <f:for each="{comments}" as="comment">
                <div class="multiblogindex_singlecomment">

                    <!--Comment Header -->
                    <div class="multiblogindex_commentheader">
                        <span class="multiblogindex_commentname">{comment.commentname}</span> <f:translate key="LLL:{settings.langFile}:comments.DateText" /> <f:format.date format="d.m.Y">{comment.commentdate}</f:format.date>	
                    </div>

                    <div class="multiblogindex_commenttitel">
                        <p>{comment.commenttitel}</p>
                    </div>
                    <div class="multiblogindex_commenttext">
                        <p><f:format.nl2br>{comment.commenttext}</f:format.nl2br></p>
                    </div>

                    <div class="multiblogindex_commentreply">
                        <p><f:format.html>{comment.commentreply}</f:format.html></p>
                    </div>
                </div>		
            </f:for>

        </f:then>
        <f:else>
            <div class="multiblogindex_commenttitel">
                <p><f:translate key="LLL:{settings.langFile}:comments.NoComments" /></p>
            </div>
        </f:else>
    </f:if>

    <!--Kommentarformular ----------------->

    <div class="multiblogindex_commentform">
        <div class="multiblogCommentFormHeader">
            <b><f:translate key="LLL:{settings.langFile}:comments.WriteComment" /></b>
        </div>

        <f:form method="post" controller="Comment" action="create" name="newComment" object="{newComment}" enctype="multipart/form-data" >

            <span class="error_name error"></span>
            <span class="error_email error"></span>
            <span class="error_title error"></span>
            <span class="error_comment error"></span>

            <div class="multiblogEditEntry_hidden">
                entryid<f:form.textfield property="entryid" value="{entry.uid}"/><br />
                blogid<f:form.textfield property="blogid" value="{entry.blogid}"/><br />
                proved<f:form.textfield property="commentproved" value="0"/><br />


            </div>

            <br />

            <div class="multiblogindex_commentformrow">
                <f:form.textfield id="name" property="commentname" class="multiblogindex_commentformfield" value="{newComment.commentname}" placeholder="{f:translate(key:'comments.form.placeholder.name')}"/>
                &nbsp; &nbsp; &nbsp;
                <f:form.textfield id="email" property="commentmail" class="multiblogindex_commentformfield" placeholder="{f:translate(key:'comments.form.placeholder.email')}"/><br />
            </div>

            <div class="multiblogEditEntry_label">
                <f:translate key="LLL:{settings.langFile}:comments.form.label.titel" /><br />
            </div>
            <div class="multiblogindex_commentformrow">
                <f:form.textfield id="title" property="commenttitel" class="multiblogindex_commentformfield multiblogindex_commentformfieldtitel" value="{commenttitel}" placeholder="{f:translate(key:'comments.form.placeholder.title')}"/><br />
            </div>


            <div class="multiblogEditEntry_label">
                <f:translate key="LLL:{settings.langFile}:comments.form.label.comment" /><br />
            </div>

            <f:form.textarea id="comment" property="commenttext" class="multiblogEditEntry_anleserfield"  rows="10" cols="90" />
            <br />

            <div class="multiblogindex_commentformnote">
                <f:translate key="LLL:{settings.langFile}:comments.form.releasenote" />
               
            </div>

            <br />
            <INPUT type="button" value="{f:translate(key:'comments.form.buttonSend')}" class="sendbutton submit button" name="button2" >
        </f:form>

    </div>
    &nbsp;
</div>


