<div class="firstWidget"></div>
<f:if condition="{blog.widgetAboutBlog}">
    <f:render partial="Widgets/TeaserAboutBlog" arguments="{blog: blog}"/>
</f:if>

<f:if condition="{blog.widgetRecentPost}">
    <f:render partial="Widgets/TeaserLetzteArtikel" arguments="{teaserentrys: teaserentrys}"/>
</f:if>

<f:if condition="{blog.widgetCategory}">
    <f:render partial="Widgets/TeaserKategorie" arguments="{topkategorie: topkategorie, subkategorie: subkategorie, blog: blog}"/>
</f:if>
<f:if condition="{blog.widgetComments}">
    <f:render partial="Widgets/TeaserLetzteKommentare" arguments="{teasercomments: teasercomments}"/>
</f:if>
<f:if condition="{blog.widgetAllPosts}">
    <f:render partial="Widgets/TeaserAlleArtikel" arguments="{blog: blog}"/>
</f:if>

<f:if condition="{0:meta} == {0:blogs.uid}">
    <f:render partial="Widgets/TeaserMeta" arguments="{teasercomments: teasercomments}"/>
</f:if>

<br />
