<div class="wrapper clearafter">
    <div class="multiblog">
        <div class="multiblog-content">
            <f:render section="main" />
        </div>
        <div class="multiblog-sidebar">
            <f:render partial="Blogview/Sidebar" arguments="{_all}" />
        </div>
    </div>
</div>

<f:if condition="{post.postcommentoption} == 1">
<div class="section-comments clearafter">
    <div class="wrapper">
        <div class="multiblog">
            <div class="multiblog-content">
                <f:render partial="Blogview/Comments" arguments="{_all}" />
            </div>
        </div>
    </div>
</div>
</f:if>