
<f:layout name="Default" />
<f:section name="Main">

    <div class="sliderwrap clearafter">
        <f:cObject typoscriptObjectPath="lib.slider" />
    </div>

    <div class="contentwrap wrap3cols clearafter">
        <div class="threecol">
            <div class="colinside">
                <f:cObject typoscriptObjectPath="lib.content " />
            </div>
        </div>
        <div class="threecol">
            <div class="colinside">
                <f:cObject typoscriptObjectPath="lib.contentRight " />
            </div>
        </div>
        <div class="threecol">
            <div class="colinside">
                <f:cObject typoscriptObjectPath="lib.contentBorder " /> 
            </div>
        </div>
    </div>


</f:section>