
<f:layout name="Default" />
<f:section name="Main">

    <div class="sliderwrap clearafter">
        <f:cObject typoscriptObjectPath="lib.slider" />
    </div>
    
    <div class="contentwrap wrap2cols clearafter">
        
        <div class="twocol-main">
            <div class="colinside">
                <f:cObject typoscriptObjectPath="lib.content " /> 
            </div>
        </div>
        
        <div class="twocol-right">
            <div class="colinside">
                <f:cObject typoscriptObjectPath="lib.contentRight " /> 
            </div>
        </div>
    
    </div>
</f:section>