{namespace meineExt=Tx_Multiblog_ViewHelpers}

<div class="multiblog-edit-stage clearafter">
    <h1><f:translate key="LLL:{settings.langFile}:blogedit.category.header" /></h1>

    
    <div class="multiblog-edit-category-colleft">
        <br />
        <b><f:translate key="LLL:{settings.langFile}:blogedit.category.list" /></b>
        <f:for each="{topkategorie}" as="topkat">
            <div class="kategorieEditRow">
                <div class="kategorieEditTopKat">
                    {topkat.kategorie}
                </div>
            </div>

            <f:for each="{subkategorie}" as="subkat">

                <f:if condition="{subkat.topkategorie} == {topkat.uid}">
                    <div class="kategorieEditRow">
                        <div class="teaserKatSubkat">
                            &nbsp;&nbsp;» {subkat.kategorie}
                        </div>
                    </div>


                </f:if>
            </f:for>
        </f:for>
    </div>
<div class="multiblog-edit-category-colright">
    <br />
    <b><f:translate key="LLL:{settings.langFile}:blogedit.category.add" /></b>
    
    <f:form method="post" controller="Blogedit" action="settingsCreateKategorie" name="newKat" object="{newKat}" enctype="multipart/form-data"  >

        <f:form.textfield property="blogid" class="hidden" value="{newKat.blogid}"/>

        <div class="kategorieEditFormRow">
            <div class="kategorieEditLabel">
                <f:translate key="LLL:{settings.langFile}:blogedit.category.label.newcategory" />
            </div>
            <f:form.textfield property="kategorie" class="kategorieEditInput" value="{newKat.kategorie}"/><br />
        </div>
        <div class="kategorieEditFormRow">
            <div class="kategorieEditLabel">
                <f:translate key="LLL:{settings.langFile}:blogedit.category.label.secondlevel" /> <br>
            </div>
            <div class="kategorieEditLabel">
                <meineExt:select additionalOptions="{0 : '-- Kategorie wählen --'}" sortByOptionLabel="kategorie" name="topkategorie" property="topkategorie" options="{topkategorie}" optionValueField="uid" optionLabelField="kategorie" />
            </div>
        </div>    
        <div class="kategorieEditFormRow">
            <f:form.submit class="submit button-left" value="{f:translate(key:'blogedit.button.createcategory')}"/>
        </div>
    </f:form>   
</div>
</div>