<div class="multiblog-edit-stage clearafter">
    <h1><f:translate key="LLL:{settings.langFile}:blogedit.usersettings" /></h1>

    
    <br >
    <f:form method="post" controller="Blogedit" action="usersettingsUpdate" name="blog" object="{blog}" enctype="multipart/form-data"  >
   
        <div class="multiblog-edit-form-label">
            <b><f:translate key="LLL:{settings.langFile}:blogedit.usersettings.mail.lable" /></b>
        <br />
        <f:translate key="LLL:{settings.langFile}:blogedit.usersettings.mail.infotext" />
        </div>
        
        <f:form.textfield property="blogwritermail" value="{blogwritermail}" class="multiblog-edit-form-textfield"/><br />
        
        <div class="multiblog-edit-form-label">
            <f:translate key="LLL:{settings.langFile}:blogedit.usersettings.aboutthisblog" /><br />
        </div>

        <f:form.textarea property="blogdescription" class="multiblog-edit-form-textarea"  value="{blogdescription}" rows="10" cols="90"/>

        <br />
        
        
    
        <br /><br />
        <div class="kategorieEditFormRow">
            <f:form.submit class="submit button-left" value="{f:translate(key:'blogedit.button.updateusersettings')}"/>
        </div>
    </f:form>   
    
    
    

        




</div>



