<!-- Blog Edit Main Template -->

<div id="multiblog">
    <div class="editStage">

        <f:render partial="Blogedit/Menu" arguments="{menu: menu}"/>
    
        <div class="spacer-large"></div> 
        
        <div class="content">
            <f:render partial="Blogedit/MenuSubSettings" arguments="{submenu: submenu}"/>
            <f:render partial="Blogedit/SettingsBlogstyle" arguments="{entrys: entrys}"/>
        </div>
        
    </div>
    <div class="spacer-large"></div>  

</div>    

   


