/* 
    Document   : newCascadeStyleSheet
    Created on : 19.03.2013, 15:02:45
    Author     : klausheuer
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

table .pricetable {
    width: 100%;
    color: black;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 14px;
}

table .pricetable td {
        
    color: black;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 14px;
    padding-right: 10px;
}

table .pricetable td .price {
    text-align: right;
}