.t3devslider {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}


.tx-t3dev-slider {
    clear: both;
    margin-top: 10px;
    xwidth: 980px;
    xheight: 100%;
    overflow: hidden;
}
.tx-t3dev-sliderclear {
    clear: both;
    text-align: left;
} 
.sliderText {
    background-image: url(../Images/slider_textbg4.png);
    width: 280px;
    height: 368px;
    position:absolute; 
    top:85px; 
    left:10px; 
    z-index: 2;
}

.sliderHeadline {
    font-size: 21px;
    color: #8f8f8f;
    margin: 80px 0 0 80px;
    height: 60px;
    width: 160px;
    line-height: 28px;
}

.sliderTextfield {
    font-size: 18px;
    color: #8f8f8f;
    margin: 20px 0 0 80px;
    line-height: 26px;
    width: 160px;
}




#slideshowWrapper{position:relative;width:100%;margin:auto;}



ul#slideshow{
    list-style:none;
    xborder:1px solid #999;
    xpadding:2px;
    margin:auto;
    xmargin-top:5%;
    width:100%;
    height:490px;
    xoverflow:hidden;
}
ul#slideshow img{
    border:1px solid #999;
    padding:2px;
        width:100%;
    height:auto;
    margin:auto;
    overflow:hidden;
}


p{text-align:center;}





  
    

