h1 {
    text-align: left;
}

#slider {
    width: 500px;
}
#slider .stage {
    padding: 10px;
}

.list {
    width: 500px;
    padding-top: 10px;
}

#slider table {
    border-collapse: collapse;
   
    width: 100%;
}
#slider td {
    border:1px solid #555555;
    padding: 3px 5px;
    vertical-align: middle;

}
#slider tr.odd, #slider tr.header {
    background-color: #bdbdbd;
    
}

#slider tr.header {
    margin: 10px 0 5px 0;
}
.iconsort {
    top: 10px;
    margin-bottom: 0px;
}

.button {
    background-color: #F6F6F6;
    background-image: -moz-linear-gradient(center top , #F6F6F6 10%, #D5D5D5 90%);
    background-position: center bottom;
    background-repeat: repeat-x;
    border: 1px solid #7C7C7C;
    border-radius: 1px 1px 1px 1px;
    color: #434343;
    cursor: pointer;
     padding: 3px 5px;
         font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 16px;
}
.buttonAbbrechen {
    float: right;
    margin-right: 20px;
}

/******************************************/






h2 {
    font-size: 14px;
}

h3 {
    font-size: 12px;
}

h1, h2, h3, h4 {
    color: #555555;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
}
h2 {
    margin: 2px 0 20px;
}

h3 {
    margin: 8px 0 10px;
    padding: 2px 0;
}

/* FORMS******************/
.hidden {
    display: none;
}
.formRow {
    display: block;
    padding: 5px 0;
}
.buttonrow {
    padding: 20px 0;
    width: 610px;
}

label {
    display: inline-block;
    width: 100px;
    
}
.labelpadding {
    padding-top: 10px;
}
.noInput {
    display: inline-block;
    background-color: #efefef;
    border: 1px solid #7C7C7C;
    height: 15px;
    padding: 3px;
    }
.blockrechts{
        display: block;
        margin-left: 100px;
        width: 285px;
        
}

.standardWidth {
    width: 290px;
}

.fieldPadding {
    margin-right: 10px;
}


.w80 {
    width:80px;
}
.w100 {
    width:100px;
}
.w200 {
    width:200px;
}
.w300 {
    width:300px;
}

.button {
    background-color: #F6F6F6;
    background-image: -moz-linear-gradient(center top , #F6F6F6 10%, #D5D5D5 90%);
    background-position: center bottom;
    background-repeat: repeat-x;
    border: 1px solid #7C7C7C;
    border-radius: 1px 1px 1px 1px;
    color: #434343;
    cursor: pointer;
     padding: 3px 5px;
         font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 16px;
}
.buttonAbbrechen {
    float: right;
    margin-right: 20px;
}

.imgDelete {
    cursor: pointer;
    padding-left: 5px;
}

/* LISTS***************/

.list {
    width: 700px;
    padding-top: 10px;
}


.iconsort {
    top: 10px;
    margin-bottom: 0px;
}

/*************************************************************/
/*  */
/*************************************************************/
.spacer {
    margin-bottom: 18px!important;    
}
.spacer-small {
    margin-bottom: 9px;    
}
.spacer-large {
    margin-bottom: 36px;    
}


/*************************************************************/
/*  TAB Menu */
/*************************************************************/

#slider ul.tab {
    margin: 0; 
    padding: .2em .2em 0;
    background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x; 
    color: #555555; 
    height: 30px;
    border: 1px solid #aaaaaa; 
    -moz-border-top-left-radius: 4px; 
    -webkit-border-top-left-radius: 4px; 
    -khtml-border-top-left-radius: 4px; 
    border-top-left-radius: 4px;
    -moz-border-top-right-radius: 4px; 
    -webkit-border-top-right-radius: 4px; 
    -khtml-border-top-right-radius: 4px; 
    border-top-right-radius: 4px;
      
}

#slider ul.tab li {
    line-height: 15.5px;
    float: left;
    padding: 6px 12px;
    display: block;
    margin: 1px 3px 0 0;
    border: 1px solid #D3D3D3;  
    -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; 
    background: #cccccc url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; 
    cursor:pointer;
}

#slider ul.tab li.active {
    line-height: 17px;
    float: left;
    padding: 6px 12px;
    display: block;
    margin: 1px 3px 0 0;
    border: 1px solid #aaaaaa; 
    -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; 
    background: 	#F8F8F8;
    border-bottom: none;
}
#slider ul.tab li a {
    color: #555555; 
    text-decoration: none;
}

#slider ul.tab li a:hover {
    color: #800000
        ; 
}
