<!-- Sub Template für blogEdit Header 
*    Ext: Gentleblog
-->
<h2><f:translate key="LLL:{settings.langFile}:blogedit.articlelist.header" /></h2>



<f:link.action action="artikelNew" controller="Entry" arguments="{blogUid: blog.uid, view:'create'}" class="button">   
    <f:translate key="LLL:{settings.langFile}:blogedit.articlelist.newarticle" />
</f:link.action>

<div class="spacer"></div>
<div class="muliblog-editlist">
<div class="multiblog_paginator">
    <span class="multiblog_paginator_text"><f:translate key="LLL:{settings.langFile}:blogedit.articlelist.pagenavi" /> </span>
    <f:widget.paginate objects="{entrys}" as="userentrys"  configuration="{itemsPerPage: 10, insertAbove: 1, insertBelow: 1}">
        <br class="clear-all">
        </div>



        <f:for each="{userentrys}" as="entry">

            <div class="row">

                <div class="colDate">
                    <f:format.date format="d.m.Y">{entry.entrydate}</f:format.date>
                </div>

                <div class="colContent">
                    <f:format.crop maxCharacters="22" append="&nbsp;...">{entry.entrytitel}</f:format.crop>
                </div>

                <div class="colKat">
                    <f:if condition="{entry.entrykategorie1.uid} > 1">
                        {entry.entrykategorie1.kategorie}
                    </f:if>

                    <f:if condition="{entry.entrykategorie2.uid} > 1">
                        &nbsp;|&nbsp; {entry.entrykategorie2.kategorie}
                    </f:if>



                    <f:if condition="{entry.entrykategorie3.uid} > 1">
                        &nbsp;|&nbsp; {entry.entrykategorie3.kategorie}
                    </f:if>



                    <f:if condition="{entry.entrykategorie4.uid} > 1">
                        &nbsp;|&nbsp; {entry.entrykategorie4.kategorie}
                    </f:if>
                </div>

                <div class="colStatus">
                    <f:if condition="{entry.entrystatus}">
                        <f:then>
                            <f:translate key="LLL:{settings.langFile}:blogedit.articlestatus.online" />
                        </f:then>
                        <f:else>
                            <f:translate key="LLL:{settings.langFile}:blogedit.articlestatus.draft" />
                        </f:else>
                    </f:if>
                </div>

                <f:link.action action="artikelEdit" arguments="{singleEntry: entry.uid}" class="button">
                    <f:translate key="LLL:{settings.langFile}:blogedit.articlelist.articleedit" />
                </f:link.action>
                
            </div>
        </f:for>
    </f:widget.paginate>
</div>