<!-- Sub Template für blogEdit Header 
*    Ext: Gentleblog
-->


<ul class="submenu">
    <li class="{f:if(condition: '{0:submenu} == {0:"index"}', then: ' active', else: ' ')}">
        <f:link.action action="settingsIndex" controller="Blogedit">Übersicht</f:link.action>
    </li>
    <li class="{f:if(condition: '{0:submenu} == {0:"kategorie"}', then: ' active', else: ' ')}">
        <f:link.action action="settingsShowKategorie" controller="Blogedit">Kategorieverwaltung</f:link.action>
    </li>
    <li class="{f:if(condition: '{0:submenu} == {0:"widgets"}', then: ' active', else: ' ')}">
        <f:link.action action="settingsShowWidgets" controller="Blogedit">Widgets</f:link.action>     
    </li>
    <li class="{f:if(condition: '{0:submenu} == {0:"blogstyle"}', then: ' active', else: ' ')}">
        <f:link.action action="settingsShowBlogstyle" controller="Blogedit">Blogstyle</f:link.action>     
    </li>

</ul>



