@import url(http://fonts.googleapis.com/css?family=Coda);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700);


/*************************************************************/
/* general Styling */
/*************************************************************/
.clearafter:after { content: ''; display: block; clear: both; }
a {text-decoration: none;}

.multiblog pre, multiblog pre p{
    margin: 0;
    margin-bottom: 0 !important;
    padding: 0;
    line-height: 20px;
    font-family: monospace;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    background-color: #F9f9f9
}
.multiblog pre {padding: 10px;}

.multiblog strong {font-weight: bold;}
.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding: 50px 20px;
    position: relative;
}
.section-comments {
    background-color: #F3F2F4;
}
.multiblog-content {
    float: left;
    width: 70%;
}
.multiblog-sidebar {
    float: right;
    width: 20%;
}

/*************************************************************/
/* Blog Start Page
/*************************************************************/
.multiblog-postpreview {
    margin-bottom: 50px;
    clear: both;
}
.multiblog-postpreview-image {
    float: left;
    text-align: right;
    width: 200px;
}
.multiblog-sticky-image {
    float: left;
    text-align: right;
    width: 230px;
}
.multiblog-sticky-image img {
    vertical-align: top;

}
.multiblog-postpreview-content {
    float: right;
    width: 600px;
}
.multiblog-postheader {
    color: #5B6169;
    display: inline-block;
    font-family: Coda,serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 30px;
    margin-bottom: 10px;
    padding-right: 5px;
    word-spacing: 2px;
}
h2.multiblog, .multiblog h3 {
    font-family: Coda, serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 30px;
    word-spacing: 2px;
    color: #5B6169;
    margin-bottom: 10px;
    display: inline;
}
.multiblog h3 {
    font-size: 18px;
}
.count-comment {
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    background: #fff url(../icons/icon_comment.png) 0 0 no-repeat; 
    width: 33px;
    height: 27px;
    vertical-align: top;
    text-align: center;
}
.multiblog-postlabels, .multiblog-readmore-link {
    font-family: Coda,serif;
}
.multiblog-readmore-link {
    font-weight: bold;
    color: #8A929B;
}
p {
    margin-bottom: 10px;
}
b {
    font-weight: 600;
}
i {
    font-style: italic;
}
/*pagination*/
.paginator-page {
    padding: 2px 5px;
    background-color: #ededed;
    border:1px solid #ccc;
}

/*************************************************************/
/* Blog Single Page
/*************************************************************/

/* the cols */
.multiblog.col-left{
    width: 200px;
    float: left;
}
.multiblog.col-main {
    float: right;
    width: 600px;
}

/*section-intro*/
.multiblog.postintro {
    margin-bottom: 0px;
    clear: both;
}

.multiblog.postteaser{
    font-weight: 600;
    font-style: italic;
    color: #8A929B;
    color: #9BA3AA;
    margin-top: 10px;
}

/*section-content*/
.multiblog.postcontent {
    margin-bottom: 10px;
    clear: both;
}
.multiblog-content-image-right {
    float: right;
    width: 250px;
}
/*section-labels*/
.multiblog.next-link, .multiblog.prev-link {
    float: left;
    font-family: Coda;
    font-size: 11px;
    background-color: #E8E8E8;
    padding: 1px 15px;
    margin-top: 20px;
}
.multiblog.prev-link {
    float: right;
    text-align: right;
}
/*section-comments*/
.multiblog.comments {
    clear: both;
}
.multiblog.comment-entry{
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
}
.multiblog.commentname {
    font-family: Coda,serif;
    font-size: 16px;
    font-weight: 600;
}

/*section-comments-form*/
.multiblog.form-input, .multiblog.textarea {
    padding: 5px;
    margin: 10px 0;
}
.multiblog.form-input {
    width: 300px;
}
.multiblog-btn {
    width: 200px;
    text-align: center;
    line-height: 24px;
    height: 25px;
    background-color: #5B6169;
    font-family: Coda, serif;
    border: 1px solid #ccc;
    color: #fff;
    cursor: pointer;
}
/*************************************************************/
/* Share icons
/*************************************************************/
.share-text {
    float: left;
    margin: 0 0px 0 0;
    background: #fff url(../icons/icon_share.png) 0 0 no-repeat;
    width: 120px;
    height: 50px;
}
.facebook{
    background: #fff url(../icons/facebook_grey.png) 0 0 no-repeat;
    width: 48px;
    height: 48px;
    float: left;
    margin: 0 20px;
}
.twitter{
    background: #fff url(../icons/twitter_grey.png) 0 0 no-repeat;
    width: 48px;
    height: 48px;
    float: left;
    margin: 0 20px;
}
.google{
    background: #fff url(../icons/google.png) 0 0 no-repeat;
    width: 48px;
    height: 48px;
    float: left;
    margin: 0 20px;
}


/*************************************************************/
/* Widgets
/*************************************************************/
.widget_icon_about {
    background: #fff url(../icons/icon_side_about.png) 0 center no-repeat;
    padding-left: 20px;
}
.widget_icon_recentpost {
    background: #fff url(../icons/icon_side_pencil.png) 0 center no-repeat;
    padding-left: 20px;
}
.widget_icon_lastcomments{
    background: #fff url(../icons/icon_side_comment.png) 0 center no-repeat;
    padding-left: 20px;
}
.widget_icon_lastcomments{
    background: #fff url(../icons/icon_side_comment.png) 0 center no-repeat;
    padding-left: 20px;
}
.widget_icon_category {
    background: #fff url(../icons/icon_side_label.png) 0 center no-repeat;
    padding-left: 20px;
}
.multiblog_widget {
    border-bottom: 1px solid #EDEDED;
    margin-bottom: 10px;
    padding-bottom: 10px;  
}
.multiblog_widgetheader {
    font-family: Coda, serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -1px;
    word-spacing: 2px;
    color: #5B6169;
}
.multiblog_widgetcontent  {
    padding-left: 20px;
}

.multiblog_widgetLastComment_entry {
    border-bottom: 1px dotted #EDEDED;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
.multiblog_widgetLastComment_subhead {
    font-family: Coda, serif;
}
.multiblog_widgetLastComment_header {
    font-size: 14px;
}
/*************************************************************/
/* Frontend editing
/*************************************************************/
.multiblog-edit {
    font-family: Verdana,​Arial,​sans-serif;
    font-size: 12px;
    font-weight: normal;
    background-color: #fff;
    background: #fff url(../icons/multiblog-menu-bg.jpg) 100% 100% repeat-y; 
    background-position: left;
}

.multiblog-edit-header {
    height: 30px;
    background-color: #999;
    border-bottom: 1px solid #333;
    width: 100%;
    color: #ededed;
    line-height: 30px;
}

/* Menu Styling ******************/
.multiblog-edit-menu {
    width: 160px;
    font-family: Coda, serif;
    height: 100%;

    float: left;
}

.multiblog-edit-menu ul {
    line-height: 24px;
}

.multiblog-edit-menu ul li {
    margin: 4px 0 4px 15px;
    padding-left: 10px;
    height: 24px;
}

.multiblog-edit-menu ul li.first {
    font-size: 14px;
    font-weight: bold;
    color: #999;
    margin-left: 5px;
}

.multiblog-edit-menu ul li.active{
    background: #ededed url(../icons/multiblog-menu-activelg-bg.jpg) 100% 100% no-repeat; 
}

.multiblog-edit-menu ul li a:hover {
    text-decoration: underline;
}

.multiblog-edit-menu ul li.active a{
    color: #fff;
}

.multiblog-edit-menu ul li.on{
    color: #800000;
}

.multiblog-edit-menu-spacer {
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #f9f9f9;
    width: 145px;
}

/* Stage Styling */
.multiblog-edit-stage {
    margin-left: 250px;
    max-width: 1000px;
}

.multiblog-edit-stage-main{
    float: left;
    width: 700px;

}
.multiblog-edit-stage-right{
    float: right;
    padding-left: 20px;
    width: 200px;
}
.multiblog-edit-stage p {
    text-align: left;
}
.multiblog-edit-stage h1 {
    font-size: 21px;
    margin: 30px 0 20px;
    color: #cccccc;
    font-weight: bold;
}


/* List Styling */
.multiblog-edit-list {

    width: 95%;
}
.multiblog-edit-list-header  {
    background-color: #aaaaaa;
}
.multiblog-edit-list tr {
    border: 1px solid #dfdfdf;
}
.multiblog-edit-list tr.odd {
    background-color: #ededed;
}

.multiblog-edit-list td {
    padding: 10px;
}

.multiblog-edit-list-smalltext {
    font-size: 90%;
}

.multiblog-edit-textlink a:hover  {
    text-decoration: underline !important;
    color: #800000;
}


/* paginator */
ul.f3-widget-paginator {
    width: 95%;
}
ul.f3-widget-paginator li {
    background-color: #ededed;
    padding: 3px 8px;
    border: 1px solid #999;
    margin:  5px 0;
}

ul.f3-widget-paginator li.current {
    background-color: #dfdfdf;
    border: 1px solid #999;
}



/* Form Styling */
label.multiblog {
    display: block;
    margin: 20px 0 5px 0;
}
.multiblog-formfield{
    background-color: #FAFAFA !important;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 13px;
    height: 34px;
    line-height: 1.42857;
    padding: 0px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.cke_chrome {
    background-color: #fff !important;
    border: none !important; 
}
.cke_bottom, .cke_top {
    background-color: #fafafa !important;
}
.cke_contents {
     margin-bottom: 3px !important;
}
.multiblog-formfield:focus {
    border-color: #66AFE9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}

.multiblog-edit-form-textfield {
    width: 97%;
}
.multiblog-edit-form-textarea {
    width: 100%;
    font-family: Verdana,​Arial,​sans-serif;
    font-size: 13px;
    font-weight: normal;
    height: 200px;
    padding: 3px 12px;
}
.multiblog-form-postcontent, .multiblog-form-postteaser{
    border: 1px solid #CCCCCC;
    background-color: #FAFAFA;
    border-radius: 4px;
    width: 100%;
    padding: 3px;
    margin-bottom: 10px;
}
.multiblog-form-postcontent-header {
    background-color: #FAFAFA;
    margin-bottom: 10px;
    padding-left: 30px;
    cursor: pointer;
}
.multiblog-arrow-down{
    background: #fafafa url(../icons/icon-arrow-down.png) left center no-repeat; 
}
.multiblog-arrow-right{
    background: #fafafa url(../icons/icon-arrow-right.png) left center no-repeat; 
}

.multiblog-imagerow-left {
    width: 200px;
    display: inline-block;
}
.multiblog-imagerow-right {
     vertical-align: top;
    display: inline-block;
}
.multiblog-edit-sidebarframe{
    border: 1px solid #CCCCCC;
    background-color: #FAFAFA;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
.multiblog-edit-sidebarframe.first{
    margin-top: 102px;
}
.multiblog-edit-form-sidebarframe-textfield {
    background-color: #fff !important;
    width: 80px;
    display: inline-block;
}
.multiblog-edit-form-sidebarframe-textarea {
   background-color: #FFFFFF !important;
    display: inline-block;
    height: 130px;
    padding: 3px;
    width: 190px;
    font-family: Verdana,​Arial,​sans-serif;
}
.multiblog-cat-add {
    background: #fafafa url(../icons/icon-add.png) left center no-repeat;
    padding-left: 20px;
    cursor: pointer;
}
.multiblog-edit-catrow {
    cursor: pointer;
        
}
.cat-active {
    border: 1px solid #CCCCCC;
    background-color: #fff;
    border-radius: 4px;
    width: 80%;
    padding-left: 5px;
    margin-bottom: 5px;
    background: #fafafa url(../icons/icon-remove.png) right center no-repeat;
    cursor: pointer;
}
.multiblog-form-row{
    clear: both;
    margin: 8px 0;
}
.multiblog-float-right{
    float: right;
}
.multiblog-float-left{
    float: left;
}
.multiblog_btn {
    border: 1px solid #CCCCCC;
    background-color: #FAFAFA;
    border-radius: 4px;
    width: 100%;
    padding: 6px 3px;
    cursor: pointer;
    margin-bottom: 3px;
    text-transform: uppercase;
    font-weight: bold;
    color: #666;
}
.multiblog_btn:hover {
    background-color: #ccc;
}
/* loginform */
#multiblog form.login  {
    padding: 10px 0 10px 50px;
}
#multiblog form.login h2 {
    margin-bottom: 20px;
}
#multiblog form.login input[type="text"],
#multiblog form.login input[type="password"]{
    background-color: #F6f6f6;
    width: 228px;
    height: 26px;
    border-color: #bebebe #cdcdcd #dcdcdc;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px #dbdbdb inset, 0 -1px 0 #e9e9e9 inset;
    line-height: 1;
    text-indent: 1px;  
    padding-left: 18px;
}

#multiblog form.login .button {
    background: none repeat scroll 0 0 #E6E6E6;
    border: 1px solid #D3D3D3;
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    font-size: 90% !important;
    padding: 0.1em 1em !important;
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer;
}

/* Genral Stylings */
.hidden {
    display: none;
}

/*Kategory Edit */
.multiblog-edit-category-colleft{
    width: 40%;
    float: left;
}

.multiblog-edit-category-colright{
    width: 30%;
    float: left;
    margin-left: 20%;
}

.btn_save {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #268a16;
	display:inline-block;
	color:#306108;
	font-family:Verdana;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:32px;
	line-height:32px;
	width:220px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #aade7c;
        cursor: pointer;
        margin-bottom: 10px;
}
.btn_save:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}

.btn_cancel {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:32px;
	line-height:32px;
	width:220px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
        cursor: pointer;
}
.btn_cancel:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}
/* This button was generated using CSSButtonGenerator.com */
/*************************************************************/
/* Edit Stage an Tabs */
/*************************************************************/
#multiblog .editStage {
    position: relative; 
    padding: .2em; 
    font-family: Verdana,Arial,sans-serif; 
    font-size: 1.1em;
    border: 1px solid #aaaaaa;;
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    -khtml-border-radius: 4px; 
    border-radius: 4px;
    background-color: #fff;

}

#multiblog .editStage .content {
    padding: 10px 10px 10px 20px;
}



.backToBlog {
    float: right;
    font-size: 10px;
}

#multiblog ul.submenu {
    border-right: 1px solid #E8E8E8;
    width: 150px;
    float: left;
    margin: 0 20px 0 -22px;
    padding-left: 10px;
}
#multiblog ul.submenu li{
    border-bottom: 1px dotted #E8E8E8;
    padding: 5px;
}

#multiblog ul.submenu li.active{
    background: #fff ; 
    display: block;
    font-weight: bold;
}
/*************************************************************/
/* Table Styling */
/*************************************************************/
#multiblog .row {

    padding-top:  10px;
    padding-bottom: 10px;
    line-height: 14px;
    border-bottom: 1px solid #E8E8E8;

}
#multiblog .alignTop {
    vertical-align: top;
    line-height: 19px;
}

#multiblog .colDate {
    width: 8%;
    display: inline-block;
    overflow: hidden;
}

#multiblog .colContent {
    width: 40%;
    display: inline-block;
    overflow: hidden;
}

#multiblog .colKat {
    width: 20%;
    display: inline-block;
}
#multiblog .colStatus {
    width: 10%;
    display: inline-block;
}
#multiblog .colNews {
    width: 60%;
    display: inline-block;
    line-height: 19px;
}
/*************************************************************/
/* Paginator */
/*************************************************************/
#multiblog ul {
    list-style: none;
}


/*************************************************************/
/* Settings Kategorie editieren */
/*************************************************************/
.settingsTextblock {
    margin-left: 180px;
    display: block;
}


#multiblog .kategorieEditList {
    margin-left: 20px;
    width: 300px;
    float: left;
}
.kategorieEditRow {
    padding-top:  10px;
    padding-bottom: 10px;
    line-height: 14px;
    border-bottom: 1px solid #E8E8E8;
}
.kategorieEditTopKat {
    width: 150px;
}

#multiblog .kategorieEditForm {
    background-color: #F9F9F9;
    padding: 15px;
    width: 300px;
    float: right;
    border-left: 1px solid #E8E8E8;
}

.kategorieEditFormRow {
    padding-top:  10px;
    padding-bottom: 10px;
    line-height: 14px;
}
.kategorieEditLabel {
    margin: 5px 0;
    display: block;
}
.kategorieEditInput {
    width: 100%
}
.kategorieEditFormRow select {
    width: 100%
}
/*************************************************************/
/*  */
/*************************************************************/
.spacer {
    margin-bottom: 18px!important;    
}
.spacer-small {
    margin-bottom: 9px;    
}
.spacer-large {
    margin-bottom: 36px;    
}
.clear {
    clear: both;
}