@import url(http://fonts.googleapis.com/css?family=Coda);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700);


/*************************************************************/
/* general Styling */
/*************************************************************/
.clearafter:after { content: ''; display: block; clear: both; }
a {text-decoration: none;}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding: 50px 20px;
    position: relative;
}
.section-comments {
    background-color: #F3F2F4;
}
.multiblog-content {
    float: left;
    width: 70%;
}
.multiblog-sidebar {
    float: right;
    width: 20%;
}

/*************************************************************/
/* Blog Start Page
/*************************************************************/
.multiblog-postpreview {
    margin-bottom: 50px;
    clear: both;
}
.multiblog-postpreview-image {
    float: left;
    text-align: right;
    width: 200px;
}
.multiblog-sticky-image {
    float: left;
    text-align: right;
    width: 230px;
}
.multiblog-sticky-image img {
    vertical-align: top;
        
}
.multiblog-postpreview-content {
    float: right;
    width: 600px;
}
.multiblog-postheader {
    color: #5B6169;
    display: inline-block;
    font-family: Coda,serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 30px;
    margin-bottom: 10px;
    padding-right: 5px;
    word-spacing: 2px;
}
h2.multiblog {
    font-family: Coda, serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 30px;
    word-spacing: 2px;
    color: #5B6169;
    margin-bottom: 10px;
    display: inline;
}
.count-comment {
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    background: #fff url(../icons/icon_comment.png) 0 0 no-repeat; 
    width: 33px;
    height: 27px;
    vertical-align: top;
    text-align: center;
}
b {
    font-weight: 600;
}
i {
    font-style: italic;
}
/*************************************************************/
/* Blog Single Page
/*************************************************************/

/* the cols */
.multiblog.col-left{
    width: 200px;
    float: left;
}
.multiblog.col-main {
    float: right;
    width: 600px;
}

/*section-intro*/
.multiblog.postintro {
    margin-bottom: 20px;
    clear: both;
}

.multiblog.postteaser{
    font-weight: 600;
    font-style: italic;
    color: #8A929B;
    color: #9BA3AA;
}

/*section-content*/
.multiblog.postcontent {
    margin-bottom: 10px;
    clear: both;
}
.multiblog-content-image-right {
    float: right;
    width: 250px;
}
/*section-labels*/
.multiblog.next-link, .multiblog.prev-link {
    float: left;
    font-family: Coda;
    font-size: 11px;
    background-color: #E8E8E8;
    padding: 1px 15px;
    margin-top: 20px;
}
.multiblog.prev-link {
    float: right;
    text-align: right;
}
/*section-comments*/
.multiblog.comments {
    clear: both;
}
.multiblog.comment-entry{
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
}
.multiblog.commentname {
    font-family: Coda,serif;
    font-size: 16px;
    font-weight: 600;
}

/*section-comments-form*/
.multiblog.form-input, .multiblog.textarea {
    padding: 5px;
    margin: 10px 0;
}
.multiblog.form-input {
    width: 300px;
}
.multiblog-btn {
    width: 200px;
    text-align: center;
    line-height: 24px;
    height: 25px;
    background-color: #5B6169;
    font-family: Coda, serif;
    border: 1px solid #ccc;
    color: #fff;
    cursor: pointer;
}

/*************************************************************/
/* Widgets
/*************************************************************/

.multiblog_widget {
    border-bottom: 1px solid #EDEDED;
    margin-bottom: 10px;
    padding-bottom: 10px;  
}
.multiblog_widgetheader {
    font-family: Coda, serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -1px;
    word-spacing: 2px;
    color: #5B6169;
}


.multiblog_widgetLastComment_entry {
    border-bottom: 1px dotted #EDEDED;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
.multiblog_widgetLastComment_subhead {
    font-family: Coda, serif;
}
/*************************************************************/
/* Frontend editing
/*************************************************************/
.multiblog-edit {
    font-family: Verdana,​Arial,​sans-serif;
    font-size: 12px;
    font-weight: normal;
    background-color: #fff;
    background: #fff url(../icons/multiblog-menu-bg.jpg) 100% 100% repeat-y; 
    background-position: left;
}

.multiblog-edit-header {
    height: 30px;
    background-color: #999;
    border-bottom: 1px solid #333;
    width: 100%;
    color: #ededed;
    line-height: 30px;
}

/* Menu Styling ******************/
.multiblog-edit-menu {
    width: 160px;
    font-family: Coda, serif;
    height: 100%;

    float: left;
}

.multiblog-edit-menu ul {
    line-height: 24px;
}

.multiblog-edit-menu ul li {
    margin: 4px 0 4px 15px;
    padding-left: 10px;
    height: 24px;
}

.multiblog-edit-menu ul li.first {
    font-size: 14px;
    font-weight: bold;
    color: #999;
    margin-left: 5px;
}

.multiblog-edit-menu ul li.active{
    background: #ededed url(../icons/multiblog-menu-activelg-bg.jpg) 100% 100% no-repeat; 
}

.multiblog-edit-menu ul li a:hover {
    text-decoration: underline;
}

.multiblog-edit-menu ul li.active a{
    color: #fff;
}

.multiblog-edit-menu ul li.on{
    color: #800000;
}

.multiblog-edit-menu-spacer {
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #f9f9f9;
    width: 145px;
}

/* Stage Styling */
.multiblog-edit-stage {
    margin-left: 20%;

}
.multiblog-edit-stage p {
    text-align: left;
}
.multiblog-edit-stage h1 {
    font-size: 21px;
    margin: 20px 0 10px 0;
    color: #cccccc;
    font-weight: bold;
}


/* List Styling */
.multiblog-edit-list {

    width: 95%;
}
.multiblog-edit-list-header  {
    background-color: #aaaaaa;
}
.multiblog-edit-list tr {
    border: 1px solid #dfdfdf;
}
.multiblog-edit-list tr.odd {
    background-color: #ededed;
}

.multiblog-edit-list td {
    padding: 10px;
}

.multiblog-edit-list-smalltext {
    font-size: 90%;
}

.multiblog-edit-textlink a:hover  {
    text-decoration: underline !important;
    color: #800000;
}


/* paginator */

ul.f3-widget-paginator li {
    background-color: #ededed;
    padding: 3px 8px;
    border: 1px solid #999;
    margin:  5px 0;
}

ul.f3-widget-paginator li.current {
    background-color: #dfdfdf;
    border: 1px solid #999;
}



/* Form Styling */
.multiblog-edit-form-label {
    display: block;
    margin: 20px 0 5px 0;
}

.multiblog-edit-form-textfield {
    width: 650px;
    padding: 3px;
}
.multiblog-edit-form-textarea {
    width: 650px;
    padding: 3px;
    font-family: Verdana,​Arial,​sans-serif;
    font-size: 12px;
    font-weight: normal;

}

.button-right {
    float: right;
    margin-right: 10px;
}

/* loginform */
#multiblog form.login  {
    padding: 10px 0 10px 50px;
}
#multiblog form.login h2 {
    margin-bottom: 20px;
}
#multiblog form.login input[type="text"],
#multiblog form.login input[type="password"]{
    background-color: #F6f6f6;
    width: 228px;
    height: 26px;
    border-color: #bebebe #cdcdcd #dcdcdc;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px #dbdbdb inset, 0 -1px 0 #e9e9e9 inset;
    line-height: 1;
    text-indent: 1px;  
    padding-left: 18px;
}

#multiblog form.login .button {
    background: none repeat scroll 0 0 #E6E6E6;
    border: 1px solid #D3D3D3;
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    font-size: 90% !important;
    padding: 0.1em 1em !important;
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer;
}
/* Genral Stylings */
.hidden {
    display: none;
}

/*Kategory Edit */
.multiblog-edit-category-colleft{
    width: 40%;
    float: left;
}

.multiblog-edit-category-colright{
    width: 30%;
    float: left;
    margin-left: 20%;
}
/*************************************************************/
/* Edit Stage an Tabs */
/*************************************************************/
#multiblog .editStage {
    position: relative; 
    padding: .2em; 
    font-family: Verdana,Arial,sans-serif; 
    font-size: 1.1em;
    border: 1px solid #aaaaaa;;
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    -khtml-border-radius: 4px; 
    border-radius: 4px;
    background-color: #fff;

}

#multiblog .editStage .content {
    padding: 10px 10px 10px 20px;
}



.backToBlog {
    float: right;
    font-size: 10px;
}

#multiblog ul.submenu {
    border-right: 1px solid #E8E8E8;
    width: 150px;
    float: left;
    margin: 0 20px 0 -22px;
    padding-left: 10px;
}
#multiblog ul.submenu li{
    border-bottom: 1px dotted #E8E8E8;
    padding: 5px;
}

#multiblog ul.submenu li.active{
    background: #fff ; 
    display: block;
    font-weight: bold;
}
/*************************************************************/
/* Table Styling */
/*************************************************************/
#multiblog .row {

    padding-top:  10px;
    padding-bottom: 10px;
    line-height: 14px;
    border-bottom: 1px solid #E8E8E8;

}
#multiblog .alignTop {
    vertical-align: top;
    line-height: 19px;
}

#multiblog .colDate {
    width: 8%;
    display: inline-block;
    overflow: hidden;
}

#multiblog .colContent {
    width: 40%;
    display: inline-block;
    overflow: hidden;
}

#multiblog .colKat {
    width: 20%;
    display: inline-block;
}
#multiblog .colStatus {
    width: 10%;
    display: inline-block;
}
#multiblog .colNews {
    width: 60%;
    display: inline-block;
    line-height: 19px;
}
/*************************************************************/
/* Paginator */
/*************************************************************/
#multiblog ul {
    list-style: none;
}


/*************************************************************/
/* Settings Kategorie editieren */
/*************************************************************/
.settingsTextblock {
    margin-left: 180px;
    display: block;
}


#multiblog .kategorieEditList {
    margin-left: 20px;
    width: 300px;
    float: left;
}
.kategorieEditRow {
    padding-top:  10px;
    padding-bottom: 10px;
    line-height: 14px;
    border-bottom: 1px solid #E8E8E8;
}
.kategorieEditTopKat {
    width: 150px;
}

#multiblog .kategorieEditForm {
    background-color: #F9F9F9;
    padding: 15px;
    width: 300px;
    float: right;
    border-left: 1px solid #E8E8E8;
}

.kategorieEditFormRow {
    padding-top:  10px;
    padding-bottom: 10px;
    line-height: 14px;
}
.kategorieEditLabel {
    margin: 5px 0;
    display: block;
}
.kategorieEditInput {
    width: 100%
}
.kategorieEditFormRow select {
    width: 100%
}
/*************************************************************/
/*  */
/*************************************************************/
.spacer {
    margin-bottom: 18px!important;    
}
.spacer-small {
    margin-bottom: 9px;    
}
.spacer-large {
    margin-bottom: 36px;    
}
.clear {
    clear: both;
}